<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>fontSize</param-name>
  	<param-value>15</param-value>
  </context-param>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/errors/error_500.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/errors/error_404.jsp</location>
  </error-page>
  
  <servlet>
  	<servlet-name>defaultObject</servlet-name>
  	<jsp-file>/defaultObject.jsp</jsp-file>
  	<init-param>
  		<param-name>private</param-name>
  		<param-value>privateValue</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>defaultObject</servlet-name>
  	<!-- <url-pattern>/defaultObject.action</url-pattern> -->
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>